*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color:white;
    padding: 0 20px;
    /* border: 2px solid black; */
}

.mid{
    width: calc(100%/3);
    margin-left: 27%;
    display: flex;
    

    align-items: center;
}
.mid h3{
    margin-right: 115px;
    font-size: 13px;
    font-weight: 100;
}
.bar{
  position: absolute;
  right: 5%;
}
.content
{
    width: 100%;
    height: 100%;
    display: flex;
}

.slide{
    width: calc(100%/3);
    /* border: 3px solid red; */
}
#s1{
    position: relative;

}
.txtbox{
    height: 90%;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 150px;
    bottom: 30px;


    /* background-color: rgb(153, 153, 109);  */
    padding-top: 30px;
    padding-left: 40px;
    /* border: 2px solid red; */
}
.txtbox h1{
    font-size: 55px;
    color: #222;
}
.txtbox p{
    width: 60%;
    margin-top: 50px;
  font-weight: lighter;
}
.txtbox button{
    width: 45%;
    height: 40px;
    margin-top: 70px;
    background-color: black;
    color: white;
}
button:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.sidedesign{
    width: 25%;
    height: 100%;
    /* border: 2px solid red; */
    margin-left: 10px;
    padding-top: 14% ;
    position: relative;
}
.sidedesign .num h1{
    font-size: 100px;
    transform: rotate(-90deg);
}
.line
{
    position: absolute;
    bottom: 0;
    left: 50%;
    /* margin-left: 10%; */
    width: 2px;
    height: 50%;
    background-color: black;
}
#s2{
    background: url(/img.jpg);
    background-size: cover;
}

#s3{
    position: relative;
}
#s3 .box{
    position: absolute;
    left: 10%;
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
}
.circle{

    margin-top: 100px;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.circle i{
    font-size: 20px;
    font-weight: lighter;
}
.location
{
    margin-top: 100px;
 
}
.location .t{
    margin-top: 30px;
}

.arrow{
    bottom: 10px;
    margin-top: 200px;
}
.arrow i{
    font-size: large;
    margin-right: 50px;
    font-weight: 10px;
}
 /* #s3 .b2{
     position: absolute;
     right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left , black , transparent , transparent ,) ;
    opacity: 10px;
  
} */